.libraryListingWrapper {
  cursor: pointer;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libraryListingHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.libraryListingOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}
