.libraryListingWrapper {
  cursor: pointer;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libraryListingHeader,
.libraryListingAdd {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.libraryListingOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}
