.libraryListingWrapper {
  cursor: pointer;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libraryListingHeader,
.libraryListingAdd {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.libraryListingOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.libraryListingTextFields {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1rem;
}
