.recommendationsWrapper {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.recommendationsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.recommendationsOptions {
  display: flex;
  justify-content: space-between;
}
.recommendationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .recommendationsOptions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
