.recommendationsWrapper {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.recommendationsHeader {
  display: flex;
  justify-content: space-between;
}
.recommendationsOptions {
  display: flex;
  justify-content: space-between;
}
.recommendationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  list-style-type: none;
}
