.libraryAppWrapper {
  padding: 2rem 3rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.libraryAppHeading {
  align-self: flex-start;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .libraryAppWrapper {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 680px) {
  .libraryAppHeading {
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  .libraryAppWrapper {
    padding: 1rem 0;
  }
}
